@charset "utf-8";

*,*::after,*:before {box-sizing: border-box;}
.box1 {width:100%; background: #ccc; text-align: center;
	   padding:7% 0;} 
.box1text {width:50%; margin: 0 auto;}   
.box1text p {font-size: 0.9rem; margin-top:2%;}

.animated {animation-duration:1s ;}
.fadeInLeft {animation-name: fadeInLeft ;}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform:translateX(-20px);
	 }
  
	 100% {
		opacity: 1;
		transform: translateX(0);
	 }	
}
