html, body{
    height:100%;
}

body {
    line-height: 1;
    font-size:15px;
}
.front {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}


.front .sub_content{
    flex:1;
}


header{
    height:94px;
    display:flex;
    /* 앞부터 채워 */
    justify-content: flex-start;
    padding: 0 22px;
    align-items:  center;
}



.hidden {
    position:fixed;
    left:-99999em;
    overflow:hidden;
    visibility: hidden;
}


h1{
    text-align: left;
}

.sub_content h1, .sub_content form{
    padding: 0 38px;
}

.sub_content {
    flex:1;
    display:flex;
    flex-direction: column;
}


.login_form {
    flex:1;
    display:flex;
    flex-wrap:wrap;
    align-content: space-between;
    margin-top:73px;
}


.login_form a{
    width:100%;
    text-align: center;
}


fieldset{border:none;}

.login_form .btn{
  width:100%;
  border:none;
}

.login_form label{
    display:block;
    color: #C2C4CA;
}

 .login_form fieldset{
    width:100%;
}


.login_form fieldset input{
    border:none;
    border-bottom:1px solid #979797;
    height:45px;
    line-height:45px;
     color:#4A4A4A;
    width:100%;
    display:block; 
}



.login_form fieldset input:first-of-type{
    margin-bottom:62px;
}

.login_form fieldset input::placeholder{
    color:#C2C4CA;
}  

.signup_form fieldset input:not(:last-of-type){
    margin-bottom:30px;
}

header.signup {
    background:url(../image/membership.png) no-repeat left top/cover;
    height:286px;
    align-items: flex-start;
    padding-top:36px;
    box-sizing: border-box;
}

header.signup h1{
    width:100%;
    text-align: center;
    font-size:20px;
    margin: 0;
}

